language: go
sudo: false

matrix:
  include:
    - go: 1.9.x
      env: PKG='./...'
    - go: 1.10.x
      env: PKG='./...' COVER='-coverprofile=coverage.txt -covermode=count'

before_install:
  - go get -t -v ./...

script:
  - go test $COVER $PKG

after_success:
  - bash <(curl -s https://codecov.io/bash)
